section {
  height: 100vh;
}

.container-proyectos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 4rem;
  max-width: 90rem;
  width: 85%;
  /* min-width: 80rem; */
  margin: 4rem auto;
  height: auto;
}